body {
    background-color: #fafafa;
    width: 100vw;
    height: 100vh;
    display: flex; /* só pode usar o justify-content e align-items quando o display: flex estiver escrito também*/  
    justify-content: center;  /* alinhar na horizontal*/
    align-items: center; /* alinhar na vertical */
    font-family: sans-serif;


    
}

.img-celular {
    width: 450px;
}

.container {
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 40px;
    border-radius: 10px;
    margin-top: -160px;
}

.container-2 {
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: -40px;
    padding: 40px;
    border-radius: 10px;
    margin-top: 375px;
    margin-left: -380px;
    align-items: center;
    font-weight: 600;
}

input {
    height: 36px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    margin-top: 10px;
    
}

button {
    background-color: #0095f6;
    height: 30px;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
}

.facebook {
    color: #385185;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.esqueceu-senha {
    color: #385185;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
}

.img-insta {
    height: 520px;
    position: absolute;
    left: 153px;
    top: 26px;
    transition: ease-in-out 2s;
}

.imagens {
    position: relative;
}
